body {
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-color: #ffffff;
}

.heading{
    font-family: 'Work Sans', sans-serif;
    font-weight: 900;
    font-style: oblique;
    font-size: 36pt;
    text-align:justify;
    padding: 0px;
    margin: 0px;
}

.bodytxt{
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 24pt;
    text-align: justify;
    padding: 0px;
    margin: 0px;

}
