body {
    background-image: url(https://media.giphy.com/media/U3qYN8S0j3bpK/giphy.gif);
    /* background-image: url(https://media.giphy.com/media/Um3ljJl8jrnHy/giphy.gif); */ 
    width: 100vw;
    height: 100vh;
    position: absolute;
    margin: 0;
  }

.grid-container {
    display: grid;
    width: 100vw;
    height: 100vh;
  }

  .grid-container div {
    border-radius: 0%;
    border: 0px solid white;
    /* background-image: url(./resource/myface.png);  */
    /* background-image: url(https://media.giphy.com/media/lfd72nHkNpS66IvVpx/giphy.gif); */
    background-image: url(https://media.giphy.com/media/5GoVLqeAOo6PK/giphy.gif);
    background-size: cover;  
}


  .hide {
    opacity:0;
  }
  .show {
    opacity:1;
  }

 /* #grid-item : active {
 } */