/* Your CSS Here! */
body {
    /* width: 100vw;
    height: 100vh; */
    background-color: #000000;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center {
    
    position: absolute;
    display: flex;
}

.smile_ball {
    width: 300px;
    height: 300px;
    background: yellow;

    position: relative;

    border: 0px solid yellow;
    border-radius: 300px;
}

.smile_eyeL {
    width: 25px;
    height: 40px;
    background-color: black;

    position: absolute;
    left: 30%;
    top: 50px;
    bottom: 10px;

    border: 2px solid black;
    border-radius: 50%;
}

.smile_eyeR {
    width: 25px;
    height: 40px;
    background-color: black;

    position: absolute;
    left: 60%;
    top: 50px;
    bottom: 10px;

    border: 2px solid black;
    border-radius: 50%;
}

.smile_lip {
    width: 150px;
    height: 100px;

    position: absolute;
    left: 25%;
    bottom: 20%;

    border: 20px solid black;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    border-top: 0;
}

.plant__pot {
    width: 200px;
    height: 300px;
    position: relative;
    background-color: rgb(63, 67, 79);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
.plant__top {
    width: 200px;
    height: 30px;
    position: absolute;
    top: -15px;
    background: hwb(48 33% 58%);
    border-color: hwb(234 25% 63%);
    border-radius: 100%;
}

.plant__leaf1 {
    width: 200px;
    height: 200px;
    position: absolute;
    top: -190px;
    left: 400px;
    background-color: rgb(0, 255, 94);
    border-radius: 10px;
    border-top-left-radius: 180px;
    border-bottom-right-radius: 180px;
    z-index: 1;
}
.plant__leaf3 {
    width: 100px;
    height: 100px;
    position: absolute;
    top: -90px;
    left: 300px;
    background-color: rgb(143, 252, 167);
    border-radius: 10px;
    border-top-right-radius: 190px;
    border-bottom-left-radius: 190px;
    z-index: 2;
}
.plant__leaf4 {
    width: 150px;
    height: 250px;
    position: absolute;
    top: -240px;
    left: 250px;
    background-color: rgb(34, 255, 0);
    border-radius: 10px;
    border-top-right-radius: 180px;
    border-bottom-left-radius: 180px;
    z-index: 1;
}


.txt {
    width: 100vw;
    bottom: 40px;

    color: yellow;
    font-size: 24pt;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 50px;
    /* margin: 0px;  */
    position: absolute;

}